body {
    font-family: "Lora", serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #ece2ce;
}

.light {
    background-color: white;
}

.dark {
    background-color: black;
    color: white;
}
/*
@media (prefers-color-scheme: dark) {
    body {
        background-color: #181818;
        color: wheat;
    }

    .todo-list {
        color: wheat;
    }

    .task-title {
        color: wheat;
    }

    .add-icon {
        color: #01c001;
    }

    .task-item {
        border-color: wheat;
    }
}
    */

button {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    padding: 15px;
    font-family: "Lora", serif;
}

button:hover {
    border: 1px solid black;
}

button:focus {
    background-color: black;
    color: #ece2ce;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 0;
    text-align: left;
    font-family: "Lora", serif;
}

input:focus {
    background-color: transparent;
}
