:root {
    font-family: "Lora", serif;
    font-style: normal;
}

body {
    font-family: "Lora";
    margin: 0;
    padding: 0;
    /* background-color: #ece2ce; */
}
/*
@media (prefers-color-scheme: dark) {
    body {
        background-color: #181818;
        color: wheat;
    }

    .todo-list {
        color: wheat;
    }

    .task-title {
        color: wheat;
    }

    .add-icon {
        color: #01c001;
    }

    .task-item {
        border-color: wheat;
    }
}
    */

button {
    color: white;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.5rem;
    padding: 15px;
    font-family: "Lora", serif;
    /* border: 1px solid #ece2ce; */
}

button:hover {
    border: 1px solid black;
}

button:focus {
    background-color: black;
    color: #ece2ce;
}

textarea {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 5px;
    text-align: left;
    font-family: "Lora", serif;
    resize: none;
    overflow: hidden;
    word-wrap: break-word;
    white-space: pre-wrap;
    /* color: white; */
}

input {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 0;
    text-align: left;
    font-family: "Lora", serif;
}

input:focus {
    background-color: transparent;
}
