body {
    font-family: "Lora", serif;
    font-style: normal;
    /* background-image: linear-gradient(to right, #343434, #616161); */
    margin: 0;
    padding: 0;
    min-height: 100v;
    background-color: wheat;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #181818;
        color: wheat;
    }

    .todo-list {
        color: wheat;
    }

    .task-title {
        color: wheat;
    }

    .add-icon {
        color: #01c001;
    }

    .task-item {
        border-color: wheat;
    }
}

nav {
    max-width: 500px;
    margin: auto;
}

.nav-header {
    font-size: 3rem;
    text-align: left;
    padding: 10px;
}

.nav-logo {
    vertical-align: middle;
}

.todo-list {
    max-width: 500px;
    padding: 0;
    margin: auto;
}

.task-item {
    display: grid;
    grid-template-columns: auto 50px;
    padding: 10px;
    border-bottom: 1px solid;
    border-color: black;
}

.new-task {
    display: grid;
    grid-template-columns: auto 50px;
    padding: 10px;
    /* border-bottom: 1px solid black; */
}

.task-title {
    font-size: 1.5rem;
    text-align: left;
}

.new-title {
    font-size: 1.5rem;
    text-align: left;
    color: #999999;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    padding: 0;
    text-align: left;
    font-family: "Lora", serif;
}

.check-icon {
    display: flex;
    grid-column: 2;
    align-self: center;
}

.complete-icon {
    display: flex;
    grid-column: 2;
    align-self: center;
    font-size: 1.5rem;
    padding: 5px 10px;
    cursor: pointer;
    vertical-align: middle;
}

.add-icon {
    font-size: 1.5rem;
    padding: 5px 10px;
    cursor: pointer;
    vertical-align: middle;
    color: #009100;
}
