.login-page {
    max-width: 500px;
    margin: auto;
    padding: 0 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    width: 100%;
}

.login-submit {
    text-align: left;
    width: fit-content;
    margin-top: 20px;
    cursor: pointer;
}

.login-username,
.login-password {
    padding: 15px;
    border-bottom: 1px solid;
    border-color: black;
}
