/* TO DO LIST */
.todo-list {
    max-width: 500px;
    padding: 0;
    margin: auto;
    padding: 0 15px;
}

.task-item {
    display: grid;
    grid-template-columns: auto 50px;
    padding: 10px;
    border-bottom: 1px solid;
    border-color: white;
}

.task-title,
.error-task {
    font-size: 1.5rem;
    text-align: left;
}

.complete-icon {
    display: flex;
    grid-column: 2;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
}

.cross-icon {
    display: flex;
    grid-column: 2;
    font-size: 1.5rem;
    padding: 10px;
    justify-content: center;
}

/* ADD Task */

.add-icon {
    display: flex;
    grid-column: 2;
    justify-content: center;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    color: #009100;
}

.new-task {
    display: grid;
    grid-template-columns: auto 50px;
    padding: 10px;
}

.new-title {
    font-size: 1.5rem;
    text-align: left;
    color: #999999;
}
